<?xml version="1.0" encoding="utf-8" ?>
<JellyPotDef xmlns="urn:Bet:ns:JellyPot:SiteConfig">

    <!-- Just a project name -->
  	<Project name="staraposta" title="Stará Pošta" />

  	<!-- Set up languages -->
  	<Languages>
        <Language name="cs" title="CS" />
        <Language name="en" title="EN" />
    </Languages>

    <!-- Define custom formats -->
    <Formats>
        <Format name="dateTimeLong" format="ddd d.M.yyyy, H:mm" />
        <Format name="dateTimeShort" format="d.M.yyyy, H:mm" />
        <Format name="date" format="d. M. yyyy" />
    </Formats>

    <!-- Declare variables and collections -->
    <Vars>
        <Group title="Obecné">
            <Var name="common" type="Common" title="Obecné" allowEditFor="editor" />
            <Var name="labels" type="Labels" title="Popisky" allowEditFor="editor" />
            <Collection name="navigation" title="Menu" itemType="NavigationItem" defaultOrder="custom" allowEditFor="admin" />
            <Var name="footer" type="Footer" title="Zápatí" allowEditFor="editor" />
        </Group>
        <Group title="Obsah">
            <Var name="mainpage" type="Mainpage" title="Kuchařka" allowEditFor="editor" />
            <Var name="about" type="About" title="O nás" allowEditFor="editor" />
            <Var name="books" type="Books" title="KnihoBox" />
            <Var name="contact" type="Contact" title="Kontakt" />

            <Var name="homepage" type="HomePage" title="Úvodní Stránka" />
            <Var name="atmosphere" type="Atmosphere" title="Atmosféra" />
            <Var name="restaurant" type="Restaurant" title="Restaurace" />
        </Group>
        <Group title="Admin">
            <Var name="cookies" type="Cookies" title="Cookies a měření" allowEditFor="editor" />
            <Var name="headCode" type="HeadCode" title="Kód v tagu &amp;lt;head&amp;gt;" allowEditFor="sysAdmin" />
            <Var name="headerCode" type="HeaderCode" title="Kód v hlavičce" allowEditFor="sysAdmin" />
            <Var name="footerCode" type="FooterCode" title="Kód v patičce" allowEditFor="sysAdmin" />
            <Var name="settings" type="Settings" title="Nastavení" allowEditFor="sysAdmin" />
        </Group>
    </Vars>
    
    <!-- Declare types -->
    <Types>
        <!-- HomePage Stará Pošta -->
        <Type name="HomePage">
            <Collection name="images" itemType="ImagesItem" title="Obrázky" itemFormat="{photo}" itemFormatType="img" />
            <TinyText name="homeText" title="Úvodní Text" />
            <Collection name="hotelDesc" itemType="HotelDescItem" title="Ubytování" />
            <Collection name="blocks" itemType="BlocksItem" title="Bloky" itemFormat="{photo} | {subTitle}" itemFormatType="img" />
            <Collection name="activity" itemType="ActivityItem" title="Aktivity Jeseníků" itemFormat="{photo} | {name}" itemFormatType="img" />
            <Collection name="explore" itemType="ExploreItem" title="Prozkoumejte" />
        </Type>
        <Type name="ImagesItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="800" />
            </Img>
        </Type>
        <Type name="HotelDescItem" title="Ubytování">
            <SimpleText name="name" title="Název" />
            <Collection name="offer" itemType="OfferItem" title="Nabídka" itemFormat="{icon} | {name}" itemFormatType="img" />
            <SimpleText name="btn" title="Tlačítko" />
            <SimpleText name="link" title="Odkaz" />
        </Type>
        <Type name="OfferItem">
            <SimpleImg name="icon" title="Ikona" />
            <SimpleText name="name" title="Název" />
            <SimpleText name="note" title="Popis" />
        </Type>
        <Type name="BlocksItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="subTitle" title="Podnadpis" />
            <TinyText name="text" title="Text" />
            <Collection name="offer" itemType="OfferItem" title="Nabídka" itemFormat="{icon} | {name}" itemFormatType="img" />
            <SimpleText name="note" title="Popisek" />
        </Type>
        
        <Type name="ActivityItem">
            <SimpleText name="name" title="Nadpis" />
            <TinyText name="text" title="Text" />
            <SimpleText name="btn" title="Tlačítko" />
            <SimpleText name="link" title="Odkaz" />
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="subTitle" title="Podnadpis" />
            <Collection name="spendTime" itemType="SpendTimeItem" title="Strávený Čas" itemFormat="{photo} | {note}" itemFormatType="img" />
        </Type>
        <Type name="SpendTimeItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="note" title="Poznámka" />
            <SimpleText name="link" title="Odkaz" />
        </Type>
        <Type name="ExploreItem">
            <SimpleText name="title" title="Název Sekce" />
            <Collection name="exploreMore" itemType="ExploreMoreItem" title="Prozkoumejte víc" itemFormat="{photo} | {btn}" itemFormatType="img" />
        </Type>
        <Type name="ExploreMoreItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="btn" title="Název" />
            <SimpleText name="link" title="Odkaz" />
        </Type>

        <!-- Subpage Atmosphere -->
        <Type name="Atmosphere">
            <Collection name="introImages" itemType="IntroImagesItem" title="Obrázky" itemFormat="{photo}" itemFormatType="img" />
            <SimpleText name="title" title="Název" desc="h1" />
            <TinyText name="note" title="Popisek" />
            <Collection name="facilities" itemType="FacilitiesItem" title="Vybavení" itemFormat="{photo} | {name}" itemFormatType="img" />
            <Collection name="infoBlocks" itemType="InfoBlocksItem" title="Informační blok" />
        </Type>
        <Type name="IntroImagesItem" title="Úvodní Fotky">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="300" />
            </Img>
        </Type>
        <Type name="FacilitiesItem">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="300" />
            </Img>
            <SimpleText name="name" title="Název Položky" />
        </Type>
        <Type name="InfoBlocksItem">
            <SimpleText name="title" title="Podnadpis" />
            <TinyText name="text" title="Textový blok" />
            <Collection name="blockImages" itemType="BlocksImagesItem" title="Název" itemFormat="{photo}" itemFormatType="img" />
        </Type>
        <Type name="BlocksImagesItem">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="800" />
            </Img>
        </Type>

        <!-- Subpage Restaurant -->
        <Type name="Restaurant">
            <Collection name="restaurantImgs" itemType="RestaurantImgsItem" title="Obrázky" itemFormat="{photo}" itemFormatType="img" />
            <SimpleText name="title" title="Nadpis" desc="h1" />
            <TinyText name="text" title="Popisek" />
            <Collection name="restaurantBlocks" itemType="RestaurantBlocksItem" title="Bloky" />
        </Type>
        <Type name="RestaurantImgsItem">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="300" />
            </Img>
        </Type>
        <Type name="RestaurantBlocksItem">
            <SimpleText name="subtitle" title="Podnadpis" />
            <TinyText name="text" title="Text" />
            <File name="someFile" title="Jidelni listek" />
            <Collection name="restaurantTime" itemType="RestaurantTimeItem" title="Čas" itemFormat="{photo} | {time}" itemFormatType="img" />
            <Collection name="restaurantImages" itemType="RestaurantImagesItem" title="Obrázky" itemFormat="{photo}" itemFormatType="img" />
        </Type>
        <Type name="RestaurantTimeItem">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="300" />
            </Img>
            <TinyText name="time" title="Časy" />
        </Type>
        <Type name="RestaurantImagesItem">
            <Img name="photo" title="Fotky">
                <Size name="original" />
                <Size name="fullHD" width="1920"  />
                <Size name="thumb" width="300" />
            </Img>
        </Type>




        <!-- Common -->
        <Type name="Common">
            <SimpleText name="pageTitle" title="&amp;lt;title&amp;gt;" desc="(optimálně do 50 znaků)" langDepend="firstValue" required="true" />
            <Text name="metaDescription" title="meta description" desc="(optimálně do 150 znaků)" langDepend="firstValue" required="true" />
            <SimpleImg name="ogImage" title="Open Graph image" desc="obrázek pro sociální sítě (alespoň 1200x630)" />
        </Type>

        <Type name="Labels">
            <SimpleText name="celyRecept" title="Celý recept" langDepend="firstValue" />
        </Type>

        <!-- Content -->
        <Type name="Mainpage">
            <SimpleText name="title" title="Nadpis" desc="H1" langDepend="firstValue" />
            <Text name="subtitle" title="Podnadpis" desc="H2" langDepend="firstValue" size="3" textInterpretation="html" />
            <TinyText name="text" title="Text" langDepend="firstValue" size="6" />
            <Collection name="recipes" itemType="RecipeItem" title="Recepty" defaultOrder="custom" />
            <Collection name="tags" itemType="TagItem" title="Štítky" defaultOrder="custom" />
        </Type>


        <!-- O nás -->
        <Type name="About" title="O nás">
            <SimpleText name="name" title="Název stránky" desc="H1" />
            <TinyText name="introText" title="Úvodní Text" />
            <Img name="introImg" title="Fotka">
                <Size name="original" />
                <Size name="full" width="1600" />
                <Size name="thumb" width="800" height="600" />
            </Img>
            <Collection name="block" title="Block" itemType="BlockTag" />
        </Type>
        <Type name="BlockTag">
            <SimpleText name="subtitle" title="Podnapis" desc="H2" />
            <TinyText name="text" title="Text" />
            <Img name="introImg" title="Úvodní Fotka">
                <Size name="original" />
                <Size name="full" width="300" />
                <Size name="thumb" width="400" height="400" />
            </Img>
        </Type>


        <Type name="RecipeItem" title="Recept">
            <SimpleText name="name" title="Název receptu" langDepend="firstValue" />
            <SimpleText name="time" title="Čas vaření" langDepend="firstValue" />
            <TinyText name="ingedients" title="Ingredience" langDepend="firstValue" />
            <Img name="img" title="Fotka" langDepend="firstValue">
                <Size name="original" />
                <Size name="full" width="1600" />
                <Size name="thumb" width="800" height="600" />
            </Img>
            <File name="file" title="Recept ke stažení" langDepend="firstValue" />
            <Date name="date" title="Datum přidání receptu" defaultValue="now" langDepend="firstValue" />
            <ReferenceCollection name="tags" title="Štítky" sourceCol="mainpage.tags" />
            <Bool name="hide" title="Schovat" />
        </Type>
        <Type name="TagItem" title="Štítek">
            <SimpleText name="name" title="Název" langDepend="firstValue" />
        </Type>

        <!-- Knihy -->
        <Type name="Books">
            <SimpleText name="title" title="Nadpis Webu" desc="H1" />
            <Text name="motto" title="Motto" />
            <TinyText name="description" title="Krátký Popis" />
            <Text name="name" title="Name" />
            <Collection name="list" title="Seznam Knih" itemType="ListTag" />
            <Collection name="genre" title="Žánry knih" itemType="GenreTag" />
        </Type>
        <Type name="ListTag" title="Kniha">
            <SimpleText name="title" title="Název Knihy" desc="H1" />
            <SimpleText name="author" title="Autor" />
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" width="500" height="500" />
                <Size name="thumb" width="300" height="300" />
            </Img>
            <Bool name="like" title="Hvězdičky" />
            <TinyText name="content" title="Obsah" desc="Krátký obsah knihy" />
            <TinyText name="colophon" title="Tiráž" />
            <Collection name="reviews" title="Recenze" itemType="ReviewsTag" itemFormat="{photo} | {name} {date}" itemFormatType="img" />
        </Type>
        <Type name="ReviewsTag" title="Recenze">
            <TinyText name="review" title="Hodnocení knihy" />
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" width="500" height="500" />
                <Size name="thumb" width="300" height="300" />
            </Img>
            <SimpleText name="name" title="Jméno uživatele" />
            <Date name="date" title="Datum" defaultValue="now" />
        </Type>
        <Type name="GenreTag">
            <SimpleText name="text" title="Text" />
        </Type>

        <!-- Kontakt -->
        <Type name="Contact">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" width="500" height="500" />
                <Size name="thumb" width="300" height="300" />
            </Img>
            <Collection name="contacts" title="Contacts" itemType="ContactsTag" itemFormat="{photo} | {name}" itemFormatType="img" />
        </Type>
        <Type name="ContactsTag">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" width="500" height="500" />
                <Size name="thumb" width="50" height="50" />
            </Img>
            <SimpleText name="name" title="Name" />
        </Type>


        <!-- Cookies -->
        <Type name="Cookies" title="Cookies">
            <Collection name="cookies" itemType="CookieItem" title="Měřící kódy" defaultOrder="custom" />
            <Bool name="big" title="Otravnější varianta upozornění" desc="Přes celou stránku, pro pokračování vyžaduje reakci" />
            <Text name="window" title="Alternativní text v liště" langDepend="firstValue" textInterpretation="html" size="2" />
            <Text name="modal" title="Alternativní text v okně" langDepend="firstValue" textInterpretation="html" size="2" />
        </Type>
        <Type name="CookieItem" title="Měřící kódy">
            <SimpleText name="name" title="Název" langDepend="firstValue" />
            <Text name="code" title="Kód" langDepend="firstValue" textInterpretation="html" size="5" />
            <Bool name="analytics" title="Typ cookie - vybrat pouze jeden" desc="Analytický (GA, GTM, Smartlook, ...)" />
            <Bool name="security" title=" " desc="Bezpečnostní" allowEditFor="nobody" />
            <Bool name="ads" title=" " desc="Reklamní (Google Ads, Sklik, retargeting, ..." />
        </Type>
        

        <!-- Navigation -->
        <Type name="NavigationItem" title="Položka menu">
            <SimpleText name="navItem" title="Název položky v menu" langDepend="firstValue" />
            <SimpleText name="navLink" title="Odkaz" langDepend="firstValue" allowEditFor="sysAdmin" />
        </Type>
        
        <!-- Footer -->
        <Type name="Footer" title="Zápatí">
            <Collection name="loremIpsum" itemType="LoremIpsumItem" title="Lorem Ipsum" itemFormat="{photo} | {name} {text}" itemFormatType="img" />
            <Collection name="secondPart" itemType="SecondPartItem" title="Druhá Část" itemFormat="{photo} | {note}" itemFormatType="img" />
        </Type>
        <Type name="LoremIpsumItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="name" title="Název" />
            <TinyText name="text" title="Text" />
        </Type>
        <Type name="SecondPartItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="note" title="Note" />
            <TinyText name="contactData" title="Kontaktní Údaje" />
            <Collection name="socialMedia" itemType="SocialMediaItem" title="Socialní Média" itemFormat="{photo}" itemFormatType="img" />
            <TinyText name="info" title="Informace" />
            <TinyText name="secondInfo" title="Kontaktní Informace" />
            <Img name="photoBg" title="Obrázek - Pozadí">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
        </Type>
        <Type name="SocialMediaItem">
            <Img name="photo">
                <Size name="original" />
                <Size name="fullHD" />
                <Size name="thumb" />
            </Img>
            <SimpleText name="link" title="Odkaz" />
        </Type>



        <!-- JS <head> -->
        <Type name="HeadCode" desc="kód, který se vkládá na začátek elementu &amp;lt;head&amp;gt;">
            <Text name="code" textInterpretation="html" />
        </Type>
        
        <!-- JS header -->
        <Type name="HeaderCode" desc="kód, který se vkládá za počáteční značku body">
            <Text name="code" textInterpretation="html" />
        </Type>

        <!-- JS footer -->
        <Type name="FooterCode" desc="kód, který se vkládá před koncovou značku body">
            <Text name="code" textInterpretation="html" />
        </Type>

        <!-- settings -->
        <Type name="Settings">
            <Bool name="secured" title="Zabezpečit obsah" desc="Pozor!! Pokud je zaškrtnuto, veškerý obsah webu je vidět pouze přihlášeným uživatelům." />
            <Bool name="production" title="Produkční prostředí" desc="(zaškrtnout na produkci)" />
            <Bool name="naseweby" title="Naše weby" desc="(zaškrtnout na našich webech)" />
            <Bool name="localhost" title="Localhost" desc="(zaškrtnout na localhostu)" />
        </Type>
    </Types>
	  
</JellyPotDef>