/*---------------------------------------------------
               		Typography
---------------------------------------------------*/
//  - All font sizes are in REM, 1 REM = 16px

$typo-title: (
  small: (
    '1': ('font-size': 4, 'line-height': 1.2, 'font-weight': 600),
  ),
  medium: (
    '1': ('font-size': 6, 'line-height': 1.2),
  ),
  xxlarge: (
    '1': ('font-size': 10, 'line-height': 1.2),
  )
);

@include create-typo("title", $typo-title);

// ----- Custom typo -----

.text {
  color: $text;
  font-size: 1.6rem;
  font-weight: 400;
  @include breakpoint ("medium") {
    font-size: 1.8rem;
  }
  h1 {
    font-family: $font-s;
    font-size: 6.4rem;
    font-weight: 400;
  }
  p {
    color: $text;
    font-size: 1.8rem;
    font-weight: 400;
    @include breakpoint ("medium") {
      font-size: 1.8rem;
    }
  }
  &--md-p {
    p {
      color: $text;
      font-size: 2.2rem;
      font-weight: 500;
    }
  }
  &--sm-p {
    p {
      color: $text;
      font-size: 2rem;
      font-weight: 400;
      @include breakpoint ("medium") {
        font-size: 2rem;
      }
    }
  }
  h2 {
    font-size: 3.8rem;
    line-height: 1.2;
    font-weight: 400;
    color: $text;
    font-family: $font-s;
    margin-bottom: .5rem;
    /*
    @include breakpoint ("medium") {
      font-size: 4rem;
    }
    */
  }
  &--big-h2 {
    font-family: $font-s;
    font-size: 6.4rem;
    line-height: 1.2;
  }
  
  &--sm-h2 {
    font-family: $font-s;
    font-size: 3rem;
    line-height: 1.2;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 400;
    color: $text;
    font-family: $font-s;
    margin-bottom: .5rem;
    /*
    @include breakpoint ("medium") {
      font-size: 20rem;
    }
    */
  }
  &--big-h3 {
    h3 {
      font-size: 3.8rem;
      line-height: 1.2;
      font-weight: 400;
      color: $text;
      font-family: $font-s;
    }
  }
  h4 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    color: #333;
    font-family: $font-s;
    margin-bottom: .5rem;
  }
  p + p {
    margin-top: 1rem;
  }
  h1 + p {
    margin-top: 3rem;
  }
  h2 + p {
    margin-top: 1rem;
  }
  h3 + p {
    margin-top: 1rem;
  }
  h4 + p {
    margin-top: 1rem;
  }
  p + h2 {
    margin-top: 2rem;
  }
  p + h3 {
    margin-top: 2rem;
  }
  p + h4 {
    margin-top: 2rem;
  }
  ul {
    padding: 0 2rem 0 2.5rem;
    list-style-type: disc;
    text-align: left;
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  li {
    position: relative;
    margin-bottom: 1.5rem;
  }
  &--perex {
    font-family: $font-s;
    color: $text;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.5;
    /*
    @include breakpoint ("large") {
      font-size: 2.4rem;
    }
    */

    p {
      font-family: $font-s;
      color: $text;
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 1.5;
      /*
      @include breakpoint ("large") {
        font-size: 2.4rem;
      }
      */
    }
  }
  &--sm {
    p {
      font-size: 3rem;
      line-height: 1.2;
    }
  }

  &--lg {
    h2 {
      font-size: 5.5rem;
    }
    h3 {
      font-size: 4rem;
    }
  }
}