// == Intros Text  ==
.intros__text {
    margin-bottom: 8rem;

    &-title {
        font-family: $font-s;
        font-size: 6.4rem;
        font-weight: 400;
        margin-bottom: 3rem;

    }


    
    
}
.title {
    color: blue;
}

.atmos__faci {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 2rem;

    &-wrapper {
        flex: 0 0 calc(20% - 1.6rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-images {
        width: 15rem;
        height: 15rem;
        object-fit: contain;
        mix-blend-mode: darken;
    }

    &-note {
        font-size: 1.8rem;
        font-weight: 600;
    }
}


// == Sekce Bloky == 
.info__blocks {
    display: flex;
    flex-direction: column;

    &-text {
        margin-bottom: 4rem;
    }

    & + & {
        margin-top: 8rem;
    }

    &-img {
        width: 100%;
        height: auto;
    }

    &-img--mg {
        @include breakpoint("medium") {
            margin-top: -5rem;
        }
    }

    &-switch {
        @include breakpoint("medium") {
            flex-direction: row-reverse !important;
        }
    }
}



