// == Intros Text  ==
.intros__text {
    margin-bottom: 8rem;
}


.atmos__faci {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem 2rem;

    &-wrapper {
        flex: 0 0 calc(20% - 1.6rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-images {
        width: 15rem;
        height: 15rem;
        object-fit: contain;
        mix-blend-mode: darken;
    }

    &-note {
        font-weight: 600;
    }
}


// == Sekce Bloky == 
.info__blocks {
    display: flex;
    flex-direction: column;

    &-text {
        margin-bottom: 4rem;
        
        &:nth-child(even) {
            padding: 3rem;
        }
    }

    & + & {
        margin-top: 8rem;
    }

    &-img {
        width: 100%;
        height: auto;
    }

    &-img--mg {
        width: 80%;
        margin-right: 20%;
        @include breakpoint("medium") {
            margin-top: -5rem;
        }
    }

    &-switch {
        
        @include breakpoint("medium") {
            flex-direction: row-reverse !important;
            .info__blocks-img--mg {
                margin-left: 20%;
                margin-right: 0;
            }
        }
    }
    &--center {
        justify-content: center;
        align-items: center;
    }
}



