.atmosphere__intro-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.atmosphere {
    &__intro {
        &-images {
            //display: block;
            //width: 100%;
            height: auto;
        }
    }    
}
.atmosphere__intro-text {
    margin-bottom: 103px;
    max-width: 1024px;

    .atmosphere__main-title {
        font-size: 64px;
        font-weight: 400;
        line-height: 116%;
    }

    .atmosphere__intro-p {
        font-size: 22px;
        line-height: 157%;
    }
}


.atmosphere__facilities {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: $v-s-8;
    gap: 73px 109px;

    .atmosphere-faci {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .atmosphere__facilities-images {
            width: 216px;
            height: 144px;
        }

        .atmosphere__facilities-span {
            font-size: 18px;
            line-height: 157%;
            font-weight: 600;
            text-align: center;
        }
    }
}

.atmosphere__InfoBlocks  {
    .atmosphere__InfoBlocks-subtitle {
        font-size: 38px;
        font-weight: 400;
        line-height: 120%;
        color: #423435;
    }

    .atmosphere__InfoBlocks-p {
        font-size: 18px;
        font-weight: 400;
        line-height: 157%;
        color: #423435;
    }
}



