// == Intro Images ==
.intro__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    
    &-img--big {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        padding-right: 2rem;

    }

    &-img--small {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
        object-position: center;
        & + & {
            padding-top: 2rem;
        }
    }

    &-big {
        width: 70%;
    }

    &-small {
        width: 30%;
    }
}

// == Intro Text ==
.intro__text {
    font-family: $font-s;
    .intro__text-p {
        color: $darkBrown;
        font-weight: 400;
        line-height: 157%;
        //width: 60.4375rem;
    }
}

// == Section Hotel/Depandance
.hotel__desc {
    margin-bottom: $v-s-8;
    margin-top: 4rem;
    @include breakpoint ("medium") {
        margin-top: 6rem;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: .0625rem solid $sandBrown;
        padding: 2.5rem 5rem;
        align-items: flex-start;
        margin-top: 2rem;
        height: calc(100% - 2rem);
        @include breakpoint ("medium") {
            margin-top: 0;
            height: 100%;
        }
    }

    &-title {
        font-family: $font-s;
        font-size: 3rem;
        font-weight: 400;
        line-height: 118%;
        color: $darkBrown;
    }

    &-container {
        display: flex;
        gap: 3rem;
        margin: 1.25rem 0 2.5rem 0;
        flex-wrap: wrap;
        @include breakpoint ("xlarge") {
            flex-wrap: nowrap;
        }
    }

    &-offer {
        display: flex;
        align-items: center;
    }
    &-icon {
        width: 5.5rem;
        height: 5.5rem;
        object-fit: contain;
        object-position: center right;
        margin-right: 1rem;
    }

    &-note {
        color: $darkBrown;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2;
    }

    &-a {
        display: flex;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 156%;
        color: $white;
        background-color: $sandBrown;
        padding: 1.3rem 2.1rem;
        text-transform: uppercase;
        transition: transform 0.3s ease;

        &:hover .hotel__desc-arrow {
            transform: translateX(0.3rem);
        }
    }

    &-arrow {
        margin-left: 1rem;
        transition: transform 0.3s ease
    }
}



// == Section Blocks ==
.blocks__section {
    align-items: center;
    //max-width: 160rem;

    @include breakpoint('medium'){
        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }
    }

    &-img {
        width: 100%;
        height: auto;
        display: block;
    }

    & + & {
        margin-top: 6rem;
    }

    &-wrapper-icon {
        display: flex;
        align-items: center;
    }

    &-note {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 156%;
        margin-left: 1.5rem;
    }

    &-img {

        &--2 {
            @include breakpoint ("medium") {
                max-width: 60rem;
            }
        }

        &--3 {
            @include breakpoint ("medium") {
                max-width: 60rem;
            }
        }
    }
}




// == Section Activity ==
.activ__section {
    position: relative;
    background-color: $coffee;
    
    &-img-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    &-img {
        height: auto;
        max-width: 70%;
    }
    &-wrapper {
        position: absolute;
        top: 12rem;
        left: 12rem;
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &-container {
        padding: 4rem 12rem 12rem 12rem;
    }
    &-photos {
        width: 100%;
        height: auto;
        display: block;
        margin-top: 4rem;
    }

    /*
    &-a {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 156%;
        color: $white;
        background-color: $sandBrown;
        padding: 1.3rem 2.1rem;
    }
        */


    &-a {
        margin-top: 4rem;
        transition: transform 0.3s ease;

        &:hover .activ__section-arrow {
            transform: translateX(0.3rem);
        }
    }

    &-arrow {
        margin-left: 1rem;
        transition: transform 0.3s ease
    }
}





// == Section Explore ==
.explore__section {
    &-title {
        font-family: $font-s;
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 116%;
        color: $darkBrown;
    }



    &-box {
        margin-top: 4rem;
        &--1 {
            @include breakpoint ("medium") {
                margin-top: 7rem;
            }
        }

        &--2 {
            @include breakpoint ("medium") {
                padding-right: 20%;
                margin-top: 0;
            }
        }

        &--3 {
            @include breakpoint ("medium") {
                padding-left: 30%;
            }
        }

        &--6 {
            @include breakpoint ("medium") {
                padding-right: 20%;
                margin-top: 4rem;
            }
        }
    }

    &-shift {
        margin-top: -5rem;
    }

    &-photo {
        width: 100%;
        margin-bottom: 3rem;
    }

    &-a {
        font-family: $font-s;
        font-size: 3.8rem;
        font-weight: 400;
        line-height: 120%;

        &:hover .explore__section-arrow {
            transform: translateX(0.5rem);
        }
    }

    &-arrow {
        margin-left: 3.1rem;
        transition: transform 0.3s ease
    }
}

